<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-6">
      <h2 class="mb-4">Recupera tu contraseña</h2>
      <form (ngSubmit)="onRecover(email)">
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="text" class="form-control" id="email" [(ngModel)]="email" placeholder="Introduce el email a recuperar">
        </div>

        <button type="submit" class="btn btn-primary">Recuperar contraseña</button>
      </form>

      <div *ngIf="Credentials">
        <h3 class="mt-4">Credenciales recuperadas:</h3>
        <p>Usuario: {{ Credentials.username }}</p>
        <p>Contraseña: {{ Credentials.password }}</p>
      </div>

      <div *ngIf="errorMessage" class="mt-4 text-danger">
        {{ errorMessage }}
      </div>
    </div>
  </div>
</div>
