<div class="d-flex">
  <div class="bg-dark border-right p-3 sidenav" id="sidebar">
    <shared-sidebar></shared-sidebar>
  </div>

  <div class="flex-grow-1 p-3 main-content">
    <div class="mt-2">
      <pokemon-search></pokemon-search>
    </div>

    <h2>List of Pokémon</h2>
    <div class="row">
      <div class="col-6 col-md-4 col-lg-3 mb-4" *ngFor="let pokemon of pokemonList">
        <div class="card">
          <img [src]="'https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/' + getPokemonId(pokemon) + '.png'" class="card-img-top" alt="...">
          <div class="card-body">
            <strong class="card-title">#{{pokemon.id}} {{ pokemon.name | toggleCase }}</strong>
            <p class="card-text">Types:
              <span *ngFor="let type of pokemon.types">{{ type.type.name | toggleCase }} </span>
            </p>
            <button [routerLink]="['/pokemon', pokemon.id]" class="btn btn-primary">View More</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



